<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${cfg.packageParent}.mapper.${package.ModuleName}.${table.mapperName}">
    #if(${enableCache})
        <!-- 开启二级缓存 -->
        <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    #end
    <select id="selectPageList" resultType="${cfg.packageParent}.dto.${package.ModuleName}.${entity}OutDTO">
        select ${table.fieldNames} from ${table.name}
    </select>
</mapper>
